* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #6b4e3d;
  position: sticky;
  top: 0;
  z-index: 1020;
  margin-bottom: 1rem;
}

.navbar h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.navbar-nav {
  gap: 20px;
}

.navbar-nav a {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav a:hover {
  color: #f5c396 !important;
}


.cart a {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 20px;
}

.cart a:hover {
  color: #f5c396;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  padding: 0;
  height: 2000px;
}

.navbar {
  background-color: #6b4e3d;
}

.navbar h1 {
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
}

.navbar-nav {
  gap: 20px;
}

.navbar-nav a {
  color: #fff !important;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cart {
  position: relative;
  display: inline-block;
}

.cart .fa-cart-shopping {
  font-size: 24px;
}

.cart #count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  font-size: 15px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}

h2 {
  color: orangered;
  position: absolute;
  top: 400px;
  right: 10px;
  font-family: "Rowdies", sans-serif;
  font-size: 9rem;
}

.container-fluid h1 {
  font-family: "Pacifico", cursive;
  font-weight: bolder;
}


.candy-card {
  background-color: whitesmoke;
  width: calc(33.33% - 20px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}

.candy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.candy-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.candy-card h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.candy-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.candy-card span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.candy-card button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.candy-card button:hover {
  background-color: #d62839;
}
@media (min-width:320px) and (max-width:424px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  .navbar {
    background-color: #6b4e3d;
    position: sticky;
    top: 0;
    z-index: 1020;
    margin-bottom: 1rem;
    width: 100vw;

  }

  .navbar h1 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
    margin-left: -2rem;
  }

  .navbar-nav a:hover {
    color: #f5c396 !important;
  }


  .cart a {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .cart a:hover {
    color: #f5c396;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    margin-left: 14rem;
  }

  body {
    margin: 0;
    padding: 0;
    height: 2000px;
  }

  .navbar-nav a {
    color: #fff !important;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .cart {
    position: relative;
    display: inline-block;
  }

  .cart .fa-cart-shopping {
    font-size: 24px;
  }

  .cart #count {
    position: absolute;
    top: -8px;
    right: 1rem;
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    min-width: 18px;
    text-align: center;
  }

  h2 {
    color: orangered;
    position: absolute;
    top: 400px;
    right: 10px;
    font-family: "Rowdies", sans-serif;
    font-size: 9rem;
  }

  .container-fluid h1 {
    font-family: "Pacifico", cursive;
    font-weight: bolder;
    margin-bottom: -2rem;
  }


  .candy-card {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 1rem 0 1rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-sizing: border-box;
  }

  .candy-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .candy-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .candy-card h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  .candy-card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
  }

  .candy-card span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
  }

  .candy-card button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }

  .candy-card button:hover {
    background-color: #d62839;
  }

}
@media (min-width:425px) and (max-width:1024px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  .navbar {
    background-color: #6b4e3d;
    position: sticky;
    top: 0;
    z-index: 1020;
    margin-bottom: 1rem;
    width: 100%;
  }

  .navbar h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }

  .navbar-nav {
    gap: 20px;
  }

  .navbar-nav a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .navbar-nav a:hover {
    color: #f5c396 !important;
  }


  .cart a {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .cart a:hover {
    color: #f5c396;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    margin-left: 18.5rem;
    outline: none;
  }

  body {
    margin: 0;
    padding: 0;
    height: 2000px;
  }

  .navbar {
    background-color: #6b4e3d;
  }

  .navbar h1 {
    font-size: 1.8rem;
    color: #fff;
    margin: 0;
  }

  .navbar-nav {
    gap: 20px;
  }

  .navbar-nav a {
    color: #fff !important;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .cart {
    position: relative;
    display: inline-block;
  }

  .cart .fa-cart-shopping {
    font-size: 24px;
  }

  .cart #count {
    position: absolute;
    top: -8px;
    right: 1rem;
    background: red;
    color: white;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    min-width: 18px;
    text-align: center;
  }

  h2 {
    color: orangered;
    position: absolute;
    top: 400px;
    right: 10px;
    font-family: "Rowdies", sans-serif;
    font-size: 9rem;
  }

  .container-fluid h1 {
    font-family: "Pacifico", cursive;
    font-weight: bolder;
  }


  .candy-card {
    background-color: whitesmoke;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-sizing: border-box;
  }

  .candy-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .candy-card img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .candy-card h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  .candy-card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
  }

  .candy-card span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
  }

  .candy-card button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }

  .candy-card button:hover {
    background-color: #d62839;
  }
}
